{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DarkHumor</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<h2>Logo</h2>
		</div>

		<ul class="navbar" id="navbar">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'say_something' %}">Say something</a></li>
			<li><a href="{% url 'upload_image' %}">Upload Image</a></li>
			<li><a href="{% url 'crazy_pics' %}">Crazy Pics</a></li>
		</ul>

		<div class="hamburger" id="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</header>

	<section class="main_posts_container">
		{% for x in jokes %}
			<div class="post">
				<div class="top_part">
					<p>	
						{{x.humor}}
					</p>
				</div>
				<div class="bottom_part">
					<span>Like</span>
					<span>Comment</span>
					<span>Share</span>
				</div>
			</div>
		{% endfor %}
	</section>

	<footer>
		This is the footer for now until i come up with something cool
	</footer>

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>